<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a herf="/">Shop</a></li>
                <li><a herf="/add-product">Add Product</a></li>
                <li><a herf="/contactUs">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/admin/contactUs" method="POST">
            <input type ="text" name ="title" placeholder="Name" required>
            <input type="email" name ="title" placeholder="emailId" required>
            <button type ="submit">Submit</button>
        </form>
    </main>
</body>
</html>
